// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

// Variables Menu Icon
$burger-menu-bar-height: 8px;
$burger-menu-bar-space: 14px;
$burger-menu-bar-offsetY: $burger-menu-bar-height + $burger-menu-bar-space;
$burger-menu-height: (3*$burger-menu-bar-height) + (2*$burger-menu-bar-space);
$cubic-bezier-in: cubic-bezier(0.30,1,0.70,1);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  background: rgb(80, 136, 75);
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.burger-menu {
  width: 80px;
  height: $burger-menu-height;
  cursor: pointer;

  &__bar {
    width: 100%;
    height: $burger-menu-bar-height;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
  }

  .bar-1 {
    animation: re-animation__bar-1 0.7s ease-in-out;
  }

  .bar-2 {
    margin: $burger-menu-bar-space 0;
    animation: re-animation__bar-2 0.7s ease-in-out;
    z-index: 0;
  }

  .bar-3 {
    animation: re-animation__bar-3 0.7s ease-in-out;
  }

  &.active {
    .bar-1 {
      animation: animation__bar-1 0.7s $cubic-bezier-in forwards;
    }
  
    .bar-2 {
      animation: animation__bar-2 0.7s $cubic-bezier-in forwards;
    }
  
    .bar-3 {
      animation: animation__bar-3 0.7s $cubic-bezier-in forwards;
    }
  }

  &.no-animation div {
    -webkit-animation: none !important;
            animation: none !important; 
  }
}

@keyframes animation__bar-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  50% {
    transform: translate3d(0, $burger-menu-bar-offsetY, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(0, $burger-menu-bar-offsetY, 0) rotate(45deg);
  }
}

@keyframes animation__bar-2 {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes animation__bar-3 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: translate3d(0, -$burger-menu-bar-offsetY, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(0, -$burger-menu-bar-offsetY, 0) rotate(135deg);
  }
}


@keyframes re-animation__bar-1 {
  0% {
    transform: translate3d(0, $burger-menu-bar-offsetY, 0) rotate(45deg);
  }

  50% {
    transform: translate3d(0, $burger-menu-bar-offsetY, 0) rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes re-animation__bar-2 {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes re-animation__bar-3 {
  0% {
    transform: translate3d(0, -$burger-menu-bar-offsetY, 0) rotate(135deg);
  }

  50% {
    transform: translate3d(0, -$burger-menu-bar-offsetY, 0) rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
