// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

$cubic-bezier: cubic-bezier(.4,0,.49,1);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: rgb(51, 51, 51);
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.circle {
  width: 11rem;
  height: 11rem;
  clip-path: circle(5.5rem at 5.5rem 5.5rem);
  overflow: hidden;
  animation: show 4s $cubic-bezier infinite;

  .background {
    position: relative;
    top: -2.2rem;
  
    &__sky {
      height: 7.5rem;
      background-color: rgb(148, 225, 255);
    }
  
    &__earth {
      height: 3.5rem;
      background-color: rgb(216, 197, 114);
    }
  }
  
  .sun {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: yellow;
    position: relative;
    top: 0.5rem;
    left: 4.5rem;
    z-index: 999;
		transform-origin: 50% 400%;
    animation: moveSun 4s $cubic-bezier infinite;
  }

  .mountain {
    &__left {
      position: absolute;
      top: 4rem;
      left: 2rem;
      height: 3.5rem;;
      width: 7.1rem;
      background: #F4F4F4;
      clip-path: polygon(0% 100%, 65% 100%, 50% 0%);
      animation: changeMountainColor 4s $cubic-bezier infinite;
    }

    &__right {
      position: absolute;
      top: 4rem;
      left: 5.5rem;
      height: 3.5rem;
      width: 3.6rem;
      clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
      background: #DDDADA;
      animation: changeMountainColor 4s $cubic-bezier infinite reverse;
    }

    &__shadow {
      position: absolute;
      top: 7.5rem;
      left: -5rem;
      height: 2.5rem;
      width: 22rem;
      background: rgba(0,0,0,0.2);
      transform-origin: 50% 0%;
      // clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
      animation: changeMountainShadow 4s $cubic-bezier infinite;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
	
	30% {
		opacity: 1;
	}
	
	70% {
		opacity: 1;
	}

  100% {
    opacity: 0;
  }
}

@keyframes moveSun {
  0% {
		background: #F57209;
    transform: rotate(-70deg);
  }
	
	30% {
		background: yellow;
		transform: rotate(-28deg);
	}
	
	70% {
		background: yellow;
	}

  100% {
		background: #F57209;
    transform: rotate(70deg);
  }
}

@keyframes changeMountainColor {
  0% {
    background: #a0a0a0;
  }
	
	30% {
		background: #F4F4F4;
	}
	
	70% {
		background: #DDDADA;
	}

  100% {
    background: #a0a0a0;
  }
}

@keyframes changeMountainShadow {
  0% {
		transform: scaleY(0);
	  clip-path: polygon(7rem 0%, 14.2rem 0%, 100% 100%);
  }
	
	30% {
		transform: scaleY(1);
	  clip-path: polygon(7rem 0%, 14.2rem 0%, 80% 100%);
	}
	
	55% {
		transform: scaleY(.4);
	}

	75% {
		transform: scaleY(1);
	}

  100% {
		transform: scaleY(0);
	  clip-path: polygon(7rem 0%, 14.2rem 0%, 0% 100%);
  }
}
